<!DOCTYPE html>
<html>
  <head>
    <title>ChaiTrade Capital</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "tailwind", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="min-h-screen bg-gray-100">
    <nav class="bg-indigo-700 text-white">
      <div class="max-w-7xl mx-auto flex items-center justify-between p-4">
        <%= link_to "ChaiTrade", root_path, class: "font-bold text-xl" %>
        <% if user_signed_in? %>
          <div class="space-x-4">
            <%= link_to "Lobby", lobby_path, class: "hover:underline" %>
            <%= link_to "Desk", desk_path,   class: "hover:underline" %>
            <%= link_to "Logout", destroy_user_session_path, method: :delete %>
          </div>
        <% else %>
          <%= link_to "Login", new_user_session_path %>
        <% end %>
      </div>
    </nav>

    <%= yield %>
  </body>
</html>
